<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyTasks"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DashboardActivity"
            android:exported="true" />

        <activity android:name=".InviteActivity"
            android:exported="true" />

        <activity android:name=".CreateGroupActivity"
            android:exported="true" />

        <activity android:name=".EditTaskActivity"
            android:exported="true" />

        <activity android:name=".GroupDetailActivity"
            android:exported="true" />

        <activity android:name=".AcceptInviteActivity"
            android:exported="true" />

        <activity android:name=".ViewGroupsActivity"
            android:exported="true" />

        <activity android:name=".UserProfileActivity"
            android:exported="true" />
    </application>
</manifest>
